---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/?limit=3&offset=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"160-ottp5Dd/KFpajtpAOTu6VVz0xew"
      Function-Execution-Id:
      - v0ajpiikoexm
      X-Cloud-Trace-Context:
      - 0acd9d61abc763373e3f6daab5af68a9
      X-Country-Code:
      - CZ
    body:
      encoding: ASCII-8BIT
      string: '{"count":1118,"next":"https://pokeapi.co/api/v2/pokemon/?offset=6&limit=3","previous":"https://pokeapi.co/api/v2/pokemon/?offset=0&limit=3","results":[{"name":"charmander","url":"https://pokeapi.co/api/v2/pokemon/4/"},{"name":"charmeleon","url":"https://pokeapi.co/api/v2/pokemon/5/"},{"name":"charizard","url":"https://pokeapi.co/api/v2/pokemon/6/"}]}'
  recorded_at: Sun, 31 Jan 2021 19:28:43 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/4/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3509b-Rittb2g7Hjl5axMzWkjVHpakBoY"
      Function-Execution-Id:
      - ce4avs33w1an
      X-Cloud-Trace-Context:
      - b5a1c8c322ae9aac2ef07f5082274601;o=1
      X-Country-Code:
      - AM
      X-Orig-Accept-Language:
      - en-US,en;q=0.5
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"blaze","url":"https://pokeapi.co/api/v2/ability/66/"},"is_hidden":false,"slot":1},{"ability":{"name":"solar-power","url":"https://pokeapi.co/api/v2/ability/94/"},"is_hidden":true,"slot":3}],"base_experience":62,"forms":[{"name":"charmander","url":"https://pokeapi.co/api/v2/pokemon-form/4/"}],"game_indices":[{"game_index":176,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":176,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":176,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":4,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":4,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":4,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/ve[...]
[...]
