<% if flash[:notice] %>
  <h1 class="notice"><%= flash[:notice] %></h1>
<% end %>

<hr>

<% @pokes.each do |sprite_url| %>
  <p>
    <%= image_tag sprite_url, style: "float: left;"  %>
  </p>
<% end %>
