<% if flash[:notice] %>
  <h1 class="notice"><%= flash[:notice] %></h1>
<% end %>

<hr>

<% @pokes.each do |sprite_url| %>
  <p>
    <% if sprite_url %>
      <%= image_tag sprite_url, style: "float: left;"  %>
    <% else %>
      No artwork available
    <% end %>
  </p>
<% end %>
